<h3>New User</h3>
<form action='/users/create' method='post' role='form'>
	<div class='col-lg-6'>
		<h4>Please Enter Your Shipping Information</h4>
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		<div class='form-group'>
			<label for='first_name'>First Name</label>
			<input type='text' class='form-control' id='first_name' name='user[first_name]'>
		</div>
		<div class='form-group'>
			<label for='last_name'>Last Name</label>
			<input type='text' class='form-control' id='last_name' name='user[last_name]'>
		</div>
		<div class='form-group'>
			<label for='address'>Address</label>
			<input type='text' class='form-control' id='address' name='user[address]'>
		</div>
		<div class='form-group'>
			<label for='city'>City</label>
			<input type='text' class='form-control' id='city' name='user[city]'>
		</div>
		<div class='form-group'>
			<label for='state'>State</label>
			<input type='text' class='form-control' id='state' name='user[state]' placeholder='CA'>
		</div>
		<div class='form-group'>
			<label for='zip'>Zip</label>
			<input type='number' class='form-control' id='zip' name='user[zip]'>
		</div>
		<div class='form-group'>
			<label for='phone'>Phone Number</label>
			<input type='number' class='form-control' id='phone' name='user[phone]' placeholder='5051115555'>
		</div>
		<div class='form-group'>
			<label for='email'>Email</label>
			<input type='email' class='form-control' id='email' name='user[email]'>
		</div>
		<div class='form-group'>
			<label for='password'>Password</label>
			<input type='password' class='form-control' id='password' name='user[password]'>
		</div>
		<div class='form-group'>
			<label for='pass_confirm'>Confirm Password</label>
			<input type='password' class='form-control' id='pass_confirm' name='user[password_confirmation'>
		</div>
	</div>
</form>
<% if flash[:message] %>
	<% flash[:message].each do | m | %>
		<p><%= m %></p>
	<% end %>	
<% end %>
<div class='col-lg-6'>
	<h3>Returning User</h3>
	<form action='/users/login' method='post' role='form'>
		<input name ="authenticity_token" value ="<%= form_authenticity_token%>" type="hidden">
		<div class='form-group'>
			<label for="email">Email address:</label>
			<input type="email" class="form-control" id="email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" name="password">
		</div>
		<button class='btn'>Submit</button>
	</form>
</div>